* {
  box-sizing: border-box;
}

body, html {
  margin: 0 auto;
}

h1 {
  /* I went with red because I prefer red ;) */
  color: red;
  border-bottom: 2px solid red;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
  width: 50vw;
  height: 100vh;
  padding: 40px;
  border: 15px solid red;
}



