* {
  box-sizing: border-box;
}

body, html {
  margin: 0 auto;
}

@media only screen and (max-widht:500px);



h1 {
  /* I went with red because I prefer red ;) */
  color: red;
  border-bottom: 2px solid red;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

article {
  width: 50vw;
  height: 100vh;
  padding: 40px;
  border: 15px solid red;

  position: relative;
}

a {
  padding: 10px;
  border: 2px solid red;
   display: inline-block;
   text-decoration: none;
   color: black;

   border-radius: 10px;


}

.link-share {
  left: 55px;
  bottom: 55px;

  position: absolute;
}

.span-positioned {
  position: absolute;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 25px;
right: 40px;

  border: 1px solid black;
  color: black;
  font-size: 14px;

  border-radius: 50%;
}


